pandas
nltk
unicodedata2
spacy==3.3.0
contractions
textblob==0.17.1
transformers==4.19.2
flask==2.0.3
Werkzeug==2.2.2
protobuf==3.20.1
numpy==1.26.4
tensorflow==2.8.0
tensorflow-cpu==2.x.x
gunicorn
